* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    color: white;
}

.loading-screen {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.loading-screen img {
    margin: 15px;
}

.icon {
    width: 40px;
    margin: auto 5px;
    cursor: pointer;
}

.full-page {
    display: flex;
    flex-direction: column;
}

header {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    padding: 50px;
}

#projetos-title {
    text-align: center;
}

h1, h2, h3, h4, h5, a, p {
    color: inherit;
}

.intro-section {
    width: 50vw;
    margin-bottom: 20px;
}

.project-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-header-title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: center;
    text-align: center;
}

.projects-section {
    padding: 15px;
    margin-left: 30px;
    width: 30vw;
    height: min-content;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.project-thumbnail {
    margin: 15px;
    display: flex;
    justify-content: center;
}

#inicio {
    width: 70vw;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 70vw;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#show_projects {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    border-radius: 15px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.visible {
    opacity: 1 !important;
    pointer-events: auto !important;
}

#left-arrow {
    box-sizing: unset;
    padding: 15px;
    margin: 15px;
}

.projects-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    overflow-y: auto;
    height: 100%;
}

.project-info {
    display: flex;
    justify-content: space-around;
}

.project-item {
    height: min-content;
    background: linear-gradient(80deg, #202, #000);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: min-content;
    max-width: 30%;
    margin: 15px 0;
}

.project-item:hover {
    cursor: pointer;
}

.project-thumbnail {
    margin: auto 0;
}

.project-thumbnail .project-image {
    margin: 15px 0;
    align-self: center;
    width: 100%;
}

.project-item .project-image {
    margin: 15px 0;
    max-width: 100%;
}

#reticencias {
    height: 25vh;
}

#explanation {
    margin: 20px auto;
}

.white-background {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

#technologies-container {
    margin-top: 20px;
}

#technologies {
    display: flex;
    flex-wrap: wrap;
}

.technology {
    width: 70px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technology-image {
    height: 50px;
}

.technology-title {
    text-align: center;
}

.intro-project-section {
    display: flex;
}

.status {
    align-self: center;
}

.isUp, .isntUp {
    margin: auto 10px;
    align-self: center;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.isUp {
    background-color: red;
}

.status {
    display: flex;
    justify-content: space-around;
}

.project-name {
    text-align: center;
}

.technology-info {
    display: flex;
    align-items: center;
}

.technology-icon {
    width: 30px;
    height: 30px;
    margin: 2.5px 5px 2.5px 0;
    margin-right: 5px;
}

.description-text {
    margin: 0px 10px 10px 10px;
}

.description-links {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.repository-link, .project-link  {
    text-decoration: none;
    padding: 2px 0px;
    width: 100%;
}

.repository-link {
    margin-right: 1px;
}

.project-link {
    text-align: center;
    margin-left: 1px;
}

.repository-link {
    border-radius: 15px 0px 0px 15px;
    display: flex;
    background-color: black;
    justify-content: center;
}

.project-link {
    border-radius: 0px 15px 15px 0px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.repository-image {
    height: 50px;
}

.only-link {
    border-radius: 15px;
}

.project-link-text {
    color: black;
}

.project-technologies {
    align-self: center;
    height: min-content;
    justify-self: center;
}

.expandable {
    min-height: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 300ms;
}

.wrapper.open {
    grid-template-rows: 1fr;
}

.disable {
    opacity: 0 !important;
    pointer-events: none !important;
}

@media (max-width: 1000px) {
    .project-item {
        max-width: 40%;
    }
}

@media (max-width: 768px) {
    .content {
        width: 85vw;
        margin: 15px;
    }
    header {
        justify-content: center;
        padding: 20px;
    }

    .intro-section, .projects-section {
        width: 50vw;
    }

    .project-thumbnail {
        margin: auto 0px;
    }

    .project-thumbnail, .project-image {
        width: 100%;
    }

    #technologies {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    #inicio {
        width: 90vw;
    }

    .projects-section {
        margin-right: 0;
    }

    .projects-list {
        height: min-content;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 20px;
    }

    .project-item .project-image {
        min-width: 80vw;
    }

    .project-image {
        margin: 10px auto;
    }

    .project-item {
        height: min-content;
        width: 90%;
    }

}

@media (max-width: 480px) {
    .content {
        width: 85vw;
        margin: 15px;
    }
    header {
        padding: 10px;
    }

    .intro-section,
    .projects-section {
        width: 100vw;
    }

    .projects-section {
        margin-right: 0;
    }

    .project-image {
        width: 100%;
    }

    .project-thumbnail {
        margin: 0;
    }

    .projects-list {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-around;
    }

    .project-item {
        width: 80vw;
    }

    .technology {
        width: 80px;
    }

    .technology-image {
        height: 70px;
    }
}